<html>
	
	<head>
		<style>
			#wrapper{
				margin-left:80px;
				margin-right:80px;
				font-size: 20px;
				font-family: "Times New Roman", Georgia, Serif;
				page-break-before: always;
			}

			.title1{
				margin-top:30px;
			}

			.head{
				text-align: center;
			}

			.text-1{
				font-weight: bold;
			}

			.right{
				width:100%;
				text-align: right;
				margin-top: 15px;
				margin-bottom: 15px;
			}

			.p1{
				text-align: justify;
				margin-top: 40px;
			}

			table{
				border:1px solid #000;
				width:100%;
				margin-bottom: 20px;
				border-collapse: collapse;
			}

			table th{
				text-align: left;
			}

			table td{
				border: 1px solid black;
			}

			ul{
				list-style: none;
			}

		</style>
	</head>

	<body>
		<div id="wrapper">

			<div class="head">
				<div>
					<img src="{{ absolute_url(asset('assets/img/logo-biosur.png')) }}" alt="">
				</div>
				<div class="title1">
					<span class="text-1">CONTRATO DE ARRENDAMIENTO</span>
				</div>
				<div class="right">
					<span>En Los Ángeles, 16 de Mayo <span class="text-1">2016.</span></span>
				</div>
			</div>

			<div class="content">
				<p class="p1">De una parte <span class="text-1">SOC. INGENIERIA Y GESTIÓN AMBIENTAL BIOSUR LTDA., Rut: 76.286.390-1,</span> Representada Legalmente por el Señor <span class="text-1">JOHN WILLIAM OVIEDO ARANEDA, Rut: 8.616.994-0</span>, con domicilio en <span class="text-1">Camino Maria Dolores km 6.9</span> de la comuna de <span class="text-1">Los Ángeles</span> como parte arrendadora,  en adelante denominado el arrendador.</p>
				<p class="p1">De otra parte <span class="text-1">PLANASA CHILE SPA.. Rut 76.104.353-6</span> con domicilio en <span class="text-1">FUNDO LAS TEJAS LOTE A / S/N RUTA 5 SUR 474,</span> de la ciudad de <span class="text-1">LOS ANGELES</span> se ha convenido celebrar el siguiente Contrato de Arrendamiento para cuyos efectos en adelante será denominado el arrendatario.</p>
				<p class="p1">Ambas partes en su propio nombre y derecho, reconociéndose en el concepto en que respectivamente intervienen, la capacidad legal necesaria para el otorgamiento del presente CONTRATO DE ARRENDAMIENTO, a cuyo efecto <span class="text-1">El Arrendador</span> entrega a <span class="text-1">el Arrendatario</span>, quien recibe plenamente conforme, funcionando correctamente, limpio y a su entera  satisfacción.</p>
				<span class="text-1">Expone:</span>
				<p class="p1">II.- Que la parte arrendataria está interesada en el arriendo de los baños químicos.</p>
				<p class="p1">III.-Las partes se reconocen mutua y recíprocamente la capacidad legal necesaria para contratar y obligarse a cumplir con lo acordado; acuerdan suscribir el presente Contrato, que tiene la consideración legal de arrendamiento para uso de los baños químicos.</p>
				<p class="p1">IV.-La arrendataria declara conocer los baños químicos en el estado en el que actualmente se encuentra, estando conforme con el mismo.</p>
				<p class="p1">V.-La parte Arrendataria se compromete en tener el o los Baños Químicos en un lugar accesible para su mantención, en caso contrario se dará por realizada la mantención correspondiente.</p>
			</div>
		</div>
		<div id="wrapper">
			<div class="content">
				<p class="p1">Previo lo expuesto, las partes formalizan el presente <span class="text-1">CONTRATO DE ARRENDAMIENTO</span> en base a las siguientes descripciones.</p>
				<span class="text-1">Descripción</span>

				<table>
					<thead>
						<tr>
							<th>Baño Químico (Sistema WC.)</th>
						</tr>
					</thead>
				</table>

				<table>
					<thead>
						<tr>
							<th>Documento de Despacho</th>
							<th>Fecha Arr.</th>
							<th>Cantidad</th>
							<th>Neto</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>xdfsdfsdf</td>
							<td>sdfsdf</td>
							<td>sdfsdfdsf</td>
							<td>dsfdsf</td>
						</tr>
						<tr>
							<td>xdfsdfsdf</td>
							<td>sdfsdf</td>
							<td>sdfsdfdsf</td>
							<td>dsfdsf</td>
						</tr>
					</tbody>
				</table>
				<span class="text-1">Cláusulas:</span>
				<p class="text-1">1.- La Renta de arrendamiento incluye:</p>
				<ul>
					<li>& Desinfectante</li>
					<li>& Papel Higiénico</li>
					<li>& Con 3 Mantenciones a la semana</li>
				</ul>

				<p class="p1">2.- El Presente Contrato entrara en vigencia con fecha <span class="text-1">16 DE MAYO 2016</span> con fecha indefinida o hasta que las partes lo estimen conveniente. </p>
				<p class="p1">3.-El ARRENDATARIO  declara conocer el  Estado de la especie, la que se encuentra en excelente estado de conservación y funcionamiento, comprometiéndose a devolverla en el mismo estado.</p>
				<p class="p1">4.-En caso de que el baño químico sufra un Siniestro (incendio, robo o Destrucción) es de Responsabilidad del arrendador cancelar al arrendatario  el valor de $700.000 netos  por cada Baño Químico.</p>
				<p class="p1">5.-El Cliente o el arrendador del servicio de arriendo baños químicos tendrá la responsabilidad de avisar el término del servicio, dando a conocer la no continuidad del arriendo, con un mínimo de cinco días (5), Si no se diera aviso, se extenderá la renovación en forma automática, por un periodo de un mes, procediendo a emitir factura por el servicio de arriendo de baños químicos.</p>
				<p class="p1">6.- En el caso de traslado del baño químico a un lugar distinto al estipulado en la cotización adjunta a este contrato, el arrendatario deberá dar aviso con un mínimo de 5 días hábiles de anticipación  para generar una nueva cotización si las distancias o condiciones lo ameritan. </p>
				<p class="p1">7.- El servicio de mantención de baños químicos será suspendido si la cancelación de factura excede los 45 días.</p>
			</div>
			<div class="firmas">
				
			</div>
		</div>
	</body>

</html>