<aside id="sidebar_left" class="nano nano-primary affix">
  <!-- Start: Sidebar Left Content -->
  <div class="sidebar-left-content nano-content">

    <!-- Start: Sidebar Header -->
    {% include 'BaseBundle:Layouts:menu_left_head.html.twig' %}
    <!-- End: Sidebar Header -->

    <!-- Start: Sidebar Left Menu -->
    <ul class="nav sidebar-menu">
      <li class="sidebar-label pt20">Mantencion</li>
      <li>
        <a href="{{ url('venta_vista_inicio') }}">
          <span class="fa fa-home"></span>
          <span class="sidebar-title">Inicio</span>
        </a>
      </li>
      <li>
        <a href="{{ url('mantencion_vista_rutas') }}">
          <span class="fa fa-list"></span>
          <span class="sidebar-title">Planilla de ruta</span>
        </a>
      </li>
      <li>
        <a href="{{ url('mantencion_vista_verruta') }}">
          <span class="fa fa-plus"></span>
          <span class="sidebar-title">Ordenar ruta</span>
        </a>
      </li>

      <!-- sidebar progress bars -->
      {% include 'BaseBundle:Layouts:menu_left_foot.html.twig' %}
    </ul>
    <!-- End: Sidebar Menu -->

  </div>
  <!-- End: Sidebar Left Content -->
</aside>