<div id="topbar-dropmenu">
  <div class="topbar-menu row">
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class="fa fa-shopping-cart"></span>
        <span class="metro-title">Ventas</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class="imoon imoon-box-add"></span>
        <span class="metro-title">Bodega</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class="fa fa-users"></span>
        <span class="metro-title">Clientes</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('usuario_vista_listar') }}" class="metro-tile">
        <span class="glyphicon glyphicon-user"></span>
        <span class="metro-title">Usuiarios</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class="imoon imoon-office"></span>
        <span class="metro-title">Sucursales</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class=" fa fa-wrench"></span>
        <span class="metro-title">Mantenciones</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class="fa fa-gears"></span>
        <span class="metro-title">Configuración</span>
      </a>
    </div>
  </div>
</div>