{% extends "BodegaBundle:Layouts:body.html.twig" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">
					<a href="{{ url('bodega_excel_listaproductos') }}" class="btn btn-biosur">Exportar a excel</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row content_lista" data-first="0" data-max="12">
	</div>
	<div class="row">
		<div class="col-md-12 text-center div_load"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>
		<div class="col-md-12 text-center div_btn_load" hidden><button id="btn_cargar_mas" class="btn btn-biosur">Cargar más</button></div>
	</div>

{% endblock %}

{% block footerScripts %}
	<script src="{{ absolute_url(asset('assets/bundles/bodega/listaBanno.js')) }}"></script>
{% endblock %}