<style>
	#head{
	height:50px;
	}

	.pagina{
		overflow: hidden;
        page-break-before: always;
	}

	.div-6{
		width:50%;
		float: left;
		padding:0px;
	}

	.item{
		width:100%;
		/*border:1px solid black;*/
		padding:0px;
		margin:0px;
	}
	
	/* configurar espacios */
	.item-1{
		height:50px;
		padding: 0 0 0 20px;
	}

	.item-2{
		height:100px;
		padding: 0 0 0 20px;
	}
</style>

<div id="content">
	<div class="pagina">

		<div id="head"></div>
		<div class="contenido">
			<div class="div-6">
				<div class="item item-1">
					Nombre de empresa a realizar
				</div>
			</div>
			<div class="div-6">
				<div class="item item-2">
					Nombre responsable
				</div>
			</div>
		</div>
		
	</div>

	<div class="pagina">

		<div id="head"></div>
		<div class="contenido">
			<div class="div-6">
				<div class="item item-1">
					Nombre de empresa a realizar
				</div>
			</div>
			<div class="div-6">
				<div class="item item-2">
					Nombre responsable
				</div>
			</div>
		</div>
		
	</div>
	
</div>
<!-- <p id="zonaNoImprimible"><a href="#" onclick="imprSelec('content')">Imprimir ésta página web</a></p> -->

<script type="text/javascript">

	var ficha=document.getElementById('content');
	var ventimp=window.open(' ','popimpr');

	ventimp.document.write(ficha.innerHTML);
	ventimp.document.close();
	ventimp.print();
	ventimp.close();

</script>