<html>
	<head>
		<style>
			/* TABLA*/
			#content table{
				width:100%;
				border-collapse: collapse;
				margin-top:20px;
				font-size: 10px;
			}

			#content table, #content table td, #content table th{
				border:1px solid;
				border-color: #97bbeb;
			}

			#content table th{
				padding: 7px;
				color: #1f57a1;
				background-color: #caddf5;
			}
			
			#content table td{
				padding: 5px;
				text-align: center;
			}

			#content table .w150{
				width:150px;
			}
			#content table .w100{
				width:100px;
			}
		</style>
	</head>

	<body>
		<div id="content">
			<div id="head">
				<h3>Informe De Mantencion</h3>
			</div>
			<div id="body">
				<table>

					<thead>
						<tr>
							<th colspan="2">Nombre chofer</th>
						</tr>
						<tr>
							<th>Insumo</th>
							<th>Cantidad</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<th>Papel Higienico</th>
							<td>27</td>
						</tr>
						<tr>
							<th>Sachet</th>
							<td>21</td>
						</tr>
						<tr>
							<th>Jabon</th>
							<td>22</td>
						</tr>
						<tr>
							<th>Alcohol Gel</th>
							<td>21</td>
						</tr>
					</tbody>

				</table>

				<table>

					<thead>
						<tr>
							<th colspan="2">Nombre chofer</th>
						</tr>
						<tr>
							<th>Insumo</th>
							<th>Cantidad</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<th>Papel Higienico</th>
							<td>27</td>
						</tr>
						<tr>
							<th>Sachet</th>
							<td>21</td>
						</tr>
						<tr>
							<th>Jabon</th>
							<td>22</td>
						</tr>
						<tr>
							<th>Alcohol Gel</th>
							<td>21</td>
						</tr>
					</tbody>
					
				</table>
				
			</div>
		</div>
	</body>
</html>